{% extends '_base.html' %}
{% load static %}
{% block title %}Books{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row flex-row-reverse ">
            {% for book in books %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">

                        <div class="col-md-4">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}" class="img-fluid rounded-start mt-4" alt="...">
                            {% else %}
                                <img src="{% static 'image/cover.png' %}" class="img-fluid rounded-start mt-4"
                                     alt="...">

                            {% endif %}

                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <h3 class="card-title "><strong>{{ book.title }}</strong></h3>
                                    <p class="card-text pt-3">{{ book.description | truncatewords:20 }}</p>
                                    <p class="text-muted">نویسنده: {{ book.author }}</p>
                                    <a class="float-start text-success" href="{{ book.get_absolute_url }}">جزئیات
                                        بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-center mt-3">
            {% if  page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>

            {% endif %}
        </ul>
    </nav>

{% endblock %}